
/*POS MAIN BODY*/
.main-body{
    margin-top: 5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--tertiary-color);
    width: 96%;
    position: relative;
    display: flex;
}
/*POS MAIN BODY END--------------------*/


/* ------CATEGORIES & SEARCH-------*/

.item-wrap{
    width: 68%;
    
    overflow-y: hidden;
}

.section-categories{
    background-color: var(--tertiary-color);
    padding: .2em;
    padding-top: 1rem;
}

.section-categories-wrap{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    
}

@media (max-width: 1060px){
    .section-categories-wrap{
        width: 100%;
    }
}

.section-categories-wrap h2{
    color: var(--blackText);
    margin: 0;
    font-size: 1.5rem;
}

.categories-wrap-btn{
    display: flex;
    gap: .5em;
    flex-wrap: nowrap;
    overflow-y: auto;
    white-space: nowrap; 
    scrollbar-width: auto; 
    -ms-overflow-style: scrollbar;
    padding: 0.5em;
}

.categories-wrap-btn button{
    padding: .5em 1em;
    font-size: 1em;
    color: var(--tertiary-color);
    border: none;
    border-radius: 1em;
    background-color: var(--primary-color);
    cursor: pointer;
}

.categories-wrap-btn button:hover,
.categories-wrap-btn button:focus{
    background-color: var(--secondary-color);
}

.categories-wrap-btn button:active{
    background-color: #fc6868;
}

@media (max-width: 460px){

    .section-categories-wrap h2{
        font-size: 1.2rem;
    }

    .categories-wrap-btn button{
        font-size: .8em;
    }
}


.search-item-div{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.search-item-div-wrap{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    max-width: 500px;
    background-color: var(--quaternary-color);
    margin: .5em 0;
}

.search-item-div svg{
    margin: 0 .3em;
}

.search-item-div input{
    width: 75%;
    height: 70%;
    padding: .3em;
    border: none;
    font-size: 1em;
    background: transparent;
    color: var(--blackText);
    border-left: 1px solid black;
}

.search-item-div input:focus{
    outline: none;
}

.search-item-div button{
    height: 100%;
    width: 20%;
    font-size: 1rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    cursor: pointer;
}

.search-item-div button:hover,
.search-item-div button:focus{
    background-color: var(--secondary-color);
}

.search-item-div button:active{
    background-color: #fc6868;
}



/*--------categories & SEARCH--endd-----------*/



/*--------PRODUCTS ITEM-------------*/


.products-item-section h1{
    text-align: center;
    
}

.item_description{
    margin: .2em 0 !important;
    
}

.item .item_name{
    font-weight: 700 !important;
    text-wrap: wrap;
}

.item-card-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
    justify-content: center;
    align-items: center;
}

@media (max-width: 484px) {
    .item-card-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

.item-card-wrap .item{
    border:1px solid blue;
    max-width: 150px;
    min-width: 50px;
}

.item-card-wrap .item-img{
    width: 150px !important;
    height: 150px !important;
    object-fit: cover;
    border-radius: 10px;
}

.item-card-wrap p{
    margin: 0.5em 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 100%;
}

/*--------PRODUCTS ITEM ENDD-------------*/


/*--------RECEIPT WRAP-------------*/

.receipt-wrap{
    width: 22%;
    border: 2px solid var(--quinary-color);
    padding: .5em;
    border-radius: .5em;
    height: 80vh;
    position: fixed;
    right: 60px;
}

.receipt-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

@media (max-width:1100px){
    .receipt-wrap{
        width: 28%;
    }
}

@media (max-width:1030px){
    .main-body{
        flex-direction: column;
    }

    .item-wrap{
    width: 100%;
    margin-bottom: 1em;
    
    }   

    .receipt-wrap{
        position: static;     /* Remove fixed */
        width: 100%;          /* Make it full width */
        height: auto;  
    }

    .receipt-btn{
    
    justify-content: end;
    
    }   
}

/*--------RECEIPT WRAP END-------------*/

#warning-for-cash{
    display: none;
}

/*-------INVOICE STYLE------------*/
.invoice-frame{
    padding: .5em;
    
}

.invoice-header{
    margin-bottom: 1em;
    border-bottom: 3px dotted black;
}

.invoice-header p{
    margin: .2em !important;
    text-align: center;
}

.invoice-header h3{
    text-align: center;
}


.invoice-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5em;

}

.invoice-product{
    display: flex;
    justify-content: space-between;
    gap: .5em;
    max-width: 230px;
}

.invoice-product p {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

.product-name-invoice{
    flex: 1;
    word-break: break-word;
}

.unit-and-quantity-wrap{
    display: flex;
}


.quantity-invoice,
.unit-invoice{
    white-space: nowrap;
}

.invoice-price-per-item{
    margin: 0 !important;
    font-weight: 300;
}

.invoice-footer{
    margin-top: 2em;
}

.invoice-footer-text{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1em;
    margin-top: .5em;
    
}

.invoice-footer-text p{
    margin: 0 !important;
    font-size: 1.2rem;
    font-weight: 300;
}




/*-------INVOICE STYLE END------------*/