.main-body{
    margin-top: 4.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--tertiary-color);
    width: 96%;
    position: relative;
    
}

.header-content-wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    gap: 1em;
    
}

.header-cards{
    margin-top: .5em;
    border-radius: 10px;
    padding: .5em;
    width: 25%;
    max-width: 200px;
    min-width: 180px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    
}

.header-cards h3{
    display: flex;
    align-items: center;
    gap: 5px;
}

.graph-and-table-wrap{
    margin-top: 1.5em;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.barChart-wrapper{
    padding: 1em;
    border-radius: 10px;
    width: 50%;
    max-width: 700px;
    min-width: 550px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);

}

.sale-table-wrap{
    padding: 1em;
    border-radius: 10px;
    width: 50%;
    max-width:700px;
    min-width: 300px;
    height: 330px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

@media(max-width: 900px){
    .graph-and-table-wrap{
        flex-direction: column;
    }

    .barChart-wrapper{
        width: 100%;
        min-width: 300px;
    }

    .sale-table-wrap{
        width: 100%;
    }
}


.table-wrap{
    margin-top: 1em;
    white-space: nowrap;
    max-height: 250px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse  
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}


.sales-graph-wrap{
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
